$cell-size: 3rem;

.day-header {
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  height: 3rem;
}

.day-column {
  position: relative;
}

.day-row {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  height: 6rem;
  z-index: 1;
  &:hover {
    background: #f5f5f5;
  }
}