/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  height: 100%;
}

@import "~@ng-select/ng-select/themes/default.theme.css";
